# Set up aliases
alias aliases='vim ~/dotfiles/.aliases'
alias al='vim ~/.aliases'
alias functions='vim ~/dotfiles/.functions'
alias ssh-config='vim ~/.ssh/config'
alias fn='vim ~/.functions'
alias svb='vim ~/dotfiles/.bash_profile'
alias vb='vim ~/.bash_profile'
alias vimrc='vim ~/.vimrc'
alias zazurc='vim ~/.zazurc.json'
alias dtf='cd ~/dotfiles'
alias ..='cd ..'
alias l='ls -la'
alias lz='ls -Z'
alias drop='cd ~/Dropbox'
alias pub='pbcopy < ~/.ssh/key2.pub'
alias vs='vagrant ssh'
alias r='reload'
alias rr='reload && clear'
alias rrr='reload && cd && clear'
alias p='pushd .'
alias pp='popd'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias cd-='cd -'
alias dot='cd ~/dotfiles'
alias b='cd -'
alias tk='tmux kill-session -t'
alias tkall='tmux list-sessions | awk "{print \$1}" | sed "s/://" | while read sess; do tmux kill-session -t $sess; done'
alias tl='tmux list-sessions'
alias tree='tree -I "vendor|node_modules"'

# Docker shortcuts
alias dc='docker-compose'
alias dw='docker-compose exec web'
alias dwp='docker-compose exec web wp --allow-root'

# Sublime shortcuts
alias sp='subl *.sublime-project'
