# Set up aliases
alias aliases='vim ~/dotfiles/.aliases'
alias al='vim ~/.aliases'
alias functions='vim ~/dotfiles/.functions'
alias ssh-config='vim ~/.ssh/config'
alias fn='vim ~/.functions'
alias svb='vim ~/dotfiles/.bash_profile'
alias vb='vim ~/.bash_profile'
alias dtf='cd ~/dotfiles'
alias rc='. ~/.bashrc'
alias ..='cd ..'
alias l='ls -la'
alias lz='ls -Z'
alias drop='cd ~/Dropbox'
alias pub='pbcopy < ~/.ssh/key2.pub'
alias p='pushd .'
alias pp='popd'

# Docker shortcuts
alias dc='docker-compose'
alias dw='docker-compose exec web'
alias dwp='docker-compose exec web wp --allow-root'

# Sublime shortcuts
alias sp='subl *.sublime-project'
