# Set up aliases
alias aliases='vim ~/dotfiles/.aliases'
alias al='vim ~/.aliases'
alias functions='vim ~/dotfiles/.functions'
alias ssh-config='vim ~/.ssh/config'
alias fn='vim ~/.functions'
alias svb='vim ~/dotfiles/.bash_profile'
alias vb='vim ~/.bash_profile'
alias vimrc='vim ~/.vimrc'
alias zazurc='vim ~/.zazurc.json'
alias dtf='cd ~/dotfiles'
alias ..='cd ..'
alias l='ls -la'
alias lz='ls -Z'
alias drop='cd ~/Dropbox'
alias pub='pbcopy < ~/.ssh/key2.pub'
alias vs='vagrant ssh'
alias v='vim'
alias vimsess='ls ~/.vim/session'
alias r='reload'
alias rr='reload && clear'
alias rrr='reload && cd && clear'
alias rmswp='find . -name *.swp | xargs rm'
alias p='pushd .'
alias pp='popd'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'
alias cd-='cd -'
alias dot='cd ~/dotfiles'
alias b='cd -'
alias tk='tmux kill-session -t'
alias tkall='tmux list-sessions | awk "{print \$1}" | sed "s/://" | while read sess; do tmux kill-session -t $sess; done'
alias tl='tmux list-sessions'
alias tconf='vim ~/.tmux.conf'
alias tmuxconf='vim ~/.tmux.conf'
alias tree='tree -I "vendor|node_modules"'
alias minute='date +%Y%m%d%I%M'
alias hour='date +%Y%m%d%I'
alias day='date +%Y%m%d'
alias master='git checkout master'
# be nice to me when i make typos ok plz
alias tig='git'

# Stack Exchange code snippetz
alias socode='sed "s/^/    /"|x'

# List snippets available within my dotfiles
alias snippets='ls ~/dotfiles/snippets'

# Docker shortcuts
alias dc='docker-compose'
alias dw='docker-compose exec web'
alias dwp='docker-compose exec web wp --allow-root'
alias up='docker-compose up -d'

# Sublime shortcuts
alias sp='subl *.sublime-project'

if [[ $(which pbcopy) ]] ; then
  alias x='pbcopy'
fi
