#!/usr/bin/env bash

set-solarized-theme() {
  mkdir -p ~/.dir_colors
  echo "$1" > ~/.dir_colors/theme
}

#--------------------
# Git functions
#--------------------

global_ignore() {
  echo "$1" >> ~/.gitignore
}

# Grab/push files relative to Git root
# from/to a configured remote server
source ~/dotfiles/grab.bash


# Vim

vms() {
  if [[ -z $1 ]] ; then
    echo you gotta specify a session
  fi

  find . -regextype sed -regex ".*\.sw\(p\|o\|n\)" | xargs rm

  nvim -S ~/.vim/session/$1.vim
}


# Misc projects

proj() {
  if [[ -d "$HOME/projects/$1" ]] ; then
    cd "$HOME/projects/$1"
  else
    cd ~/projects
  fi
}


# WordPress

wp-html-dir() {
  root=`git root`
  if [[ -d $root/html/wp ]] ; then
    html=$root/html/wp
  elif [[ -d $root/html ]] ; then
    html=$root/html
  elif [[ -d $root/wp ]] ; then
    html=$root/wp
  elif [[ -f $root/wp-config.php ]] ; then
    html=$root
  fi
  echo $html
}

plugins() {
  echo 'deprecated! use `plugin` instead'
  cd $(wp-html-dir)/wp-content/plugins
}

plugin() {
  wp_root=$(wp-html-dir)
  if [[ -z "$wp_root" ]] ; then
    echo 'Not in a WordPress directory tree!'
    exit 1
  fi

  cd "$wp_root/wp-content/plugins/$1"
}

muplugin() {
  wp_root=$(wp-html-dir)
  if [[ -z "$wp_root" ]] ; then
    echo 'Not in a WordPress directory tree!'
    exit 1
  fi

  cd "$wp_root/wp-content/mu-plugins/$1"
}

themes() {
  cd $(wp-html-dir)/wp-content/themes
}

theme() {
  theme=$(wp-html-dir)/wp-content/themes/$1
  if [[ -d "$theme" ]] ; then
    cd $theme
  elif [[ -d $(dirname "$theme") ]] ; then
    echo "No such theme: $1"
    cd $(dirname "$theme")
  else
    echo "Couldn't find themes directory. Are you in a WP directory tree?"
    exit 1
  fi
}

wpdebug() {
  cd $(wp-html-dir)/wp-content
  touch debug.log
  tail -f debug.log
}

pantheon() {
  if [[ -d ~/Kalabox/$1/code ]] ; then
    cd ~/Kalabox/$1/code
  else
    cd ~/Kalabox
  fi
}



#-----------------------------------------------------
# Run arbitrary commands in a running Vagrant machine
#-----------------------------------------------------

# vagrant cmd
vc() {
  vagrant ssh -c "$1"
}

# run wp cmd $2 in dir $1
vwp() {
  vagrant ssh -c "cd $1 && wp $2"
}



#--------------------
# Assorted functions
#--------------------

reload() {
  if [[ -f $HOME/.bash_profile ]]
  then
    . $HOME/.bash_profile
  elif [[ -f $HOME/.bashrc ]]
  then
    . $HOME/.bashrc
  fi
}

gems() {
  gem query | grep "$1"
}

decode_url() {
  php -r "echo urldecode('$1').\"\n\";"
}

decode_64() {
  php -r "echo base64_decode('$1').\"\n\";"
}

backup() {
  cp $1 $1.bak
}

h() {
  history | grep $1
}

mc() {
  mkdir -p $1 && cd $1
}

sql() {
  mysql -u root -p $1
}

grepclj() {
  grep --recursive --include='*.clj' "$@"
}

grepcljc() {
  grep --recursive --include='*.cljc' "$@"
}

grepcljs() {
  grep --recursive --include='*.cljs' "$@"
}

grephp() {
  grep --recursive --include='*.php' "$@"
}

grepjs() {
  grep --recursive --include='*.js' "$@"
}

greptwig() {
  grep --recursive --include='*.twig' "$@"
}

grepless() {
  grep --recursive --include='*.less' "$@"
}

psgrep() {
  ps aux | grep -i $1 | grep -v grep
}

portgrep() {
  sudo netstat -tulpn | grep $1 | grep -v grep
}

grepkill() {
  ps aux | grep $1 | grep -v grep | kill `awk '{print $2}'`
}

killzeus() {
  grepkill zeus
  rm .zeus.sock
}

mysql-src() {
  mysql -u root -p $2 < $1
}
