

#--------------------
# Git functions
#--------------------

global_ignore() {
  echo "$1" >> ~/.gitignore
}


#--------------------
# Assorted functions
#--------------------

gems() {
  gem query | grep "$1"
}

decode_url() {
  php -r "echo urldecode('$1').\"\n\";"
}

decode_64() {
  php -r "echo base64_decode('$1').\"\n\";"
}

backup() {
  cp $1 $1.bak
}

h() {
  history | grep $1
}

mc() {
  mkdir $1 && cd $1
}