

#--------------------
# Git functions
#--------------------

global_ignore() {
  echo "$1" >> ~/.gitignore
}

# Grab/push files relative to Git root
# from/to a configured remote server
source ~/dotfiles/grab.bash


# WordPress

wp-html-dir() {
  root=`git root`
  if [[ -d $root/html/wp ]] ; then
    html=$root/html/wp
  elif [[ -d $root/html ]] ; then
    html=$root/html
  elif [[ -d $root/wp ]] ; then
    html=$root/wp
  fi
  echo $html
}

plugins() {
  cd $(wp-html-dir)/wp-content/plugins
}

plugin() {
  plugins && cd $1
}

themes() {
  cd $(wp-html-dir)/wp-content/themes
}

theme() {
  themes && cd $1
}

wpdebug() {
  cd $(wp-html-dir)/wp-content
  touch debug.log
  tail -f debug.log
}

#--------------------
# Assorted functions
#--------------------

gems() {
  gem query | grep "$1"
}

decode_url() {
  php -r "echo urldecode('$1').\"\n\";"
}

decode_64() {
  php -r "echo base64_decode('$1').\"\n\";"
}

backup() {
  cp $1 $1.bak
}

h() {
  history | grep $1
}

mc() {
  mkdir $1 && cd $1
}

sql() {
  mysql -u root -p $1
}

psgrep() {
  ps aux | grep $1 | grep -v grep
}

grepkill() {
  ps aux | grep $1 | grep -v grep | kill `awk '{print $2}'`
}

killzeus() {
  grepkill zeus
  rm .zeus.sock
}

mysql-src() {
  mysql -u root -p $2 < $1
}
