.calva
.cpcache
*.swo
*.swp
*.swn
*.code-workspace
.idea
*.iml
*.sublime-project
*.sublime-workspace
.DS_Store
node_modules/
bower_components/
.otto/
.zeus.sock
zeus.json
*.swp
bin/jsc
# ctags files at root only
/tags
*.deb

# misc WordPress stuff
/wp-content/uploads/
/wp-content/debug.log

# editor/dev env stuff
*.code-workspace
.nrepl-port
.shadow-cljs/

# Local Lando files
.lando.local.yml
.vscode

/*.ignore/
