# Navigational aliases
alias ..='upandaway 1'
alias ...='upandaway 2'
alias ....='upandaway 3'
alias .....='upandaway 4'
alias ......='upandaway 5'

upandaway() {
  if [[ $1 = 1 ]] ; then
    updir='../'
  elif [[ $1 = 2 ]] ; then
    updir='../../'
  elif [[ $1 = 3 ]] ; then
    updir='../../../'
  elif [[ $1 = 4 ]] ; then
    updir='../../../../'
  elif [[ $1 = 5 ]] ; then
    updir='../../../../../'
  fi

  cd "$updir$2"
}


# Utilities
alias b='build'
alias aliases='vim ~/dotfiles/.aliases'
alias al='vim ~/.aliases'
alias functions='vim ~/dotfiles/bash/.functions'
alias fn='vim ~/.functions'
alias ssh-config='vim ~/.ssh/config'
alias dtf='cd ~/dotfiles'
alias x='xclip -selection clipboard'
alias la='ls -la'
alias lah='ls -lah'
alias lz='ls -Z'
alias drop='cd ~/Dropbox'
alias v='vim'
alias vimsess='ls ~/.vim/session'
alias vs='vimsess'
alias r='reload'
alias rr='reload && clear'
alias rrr='reload && cd && clear'
alias rmswp='find . -regextype sed -regex ".*\\.sw\(p\|o\|n\)" | xargs rm'
alias tdf='dtf && t dtf "vms dtf" "consume" "git status"'
alias tk='tmux kill-session -t'
alias tkall='tmux list-sessions | awk "{print \$1}" | sed "s/://" | while read sess; do tmux kill-session -t $sess; done'
alias tree='tree -a -I "vendor|node_modules|.git"'
alias minute='date +%Y%m%d%I%M'
alias hour='date +%Y%m%d%I'
alias day='date +%Y%m%d'
alias gigs='du . -h | grep "[0-9]\+\(\.[0-9]\+\)G"'
alias cpkey='cat ~/.ssh/id_ed25519.pub | x'

# programs
alias yt='yt-dlp'

# dirs
alias music='cd ~/Sync/music'
alias vids='cd ~/Sync/music'
alias pics='cd ~/Sync/pictures'
alias movies='cd ~/Sync/movies'
alias shows='cd ~/Sync/shows'
alias tv='cd ~/Sync/shows'

# ID3 tags
alias ff='ffprobe -show_format -print_format json 2>/dev/null'
alias id3='id3.clj'

# Git stuff
alias g='git'
alias ha='git add --all -p'
alias st='git status'
alias aa='git add --all'
alias d='git diff'
# be nice to me when i make typos ok plz
alias tig='git'
alias gr='grep --exclude-dir=.git -r'

# Stack Exchange code snippetz
alias socode='sed "s/^/    /"|x'

# List snippets available within my dotfiles
alias snippets='ls ~/dotfiles/snippets'

alias nix-plasma='nix run github:nix-community/plasma-manager'
